.header {
  width: 72px;
  z-index: 100;
  text-align: center;
  opacity: 1;
  visibility: visible;
  border-radius: 4px;
}

.header .top-menu {
  width: 100%;
  font-size: 0;
}

.header .top-menu ul li {
  display: block;
  -webkit-transition: color 0.3s ease 0s;
  -o-transition: color 0.3s ease 0s;
  transition: color 0.3s ease 0s;
}

.header .top-menu ul li.active a {
  color: #78cc6d;
}

.header .top-menu ul li.active a,
.header .top-menu ul li:hover a {
  color: #78cc6d;
}

.header .top-menu ul li a {
  padding: 10px 0 14px 0;
  height: auto;
}

.header .top-menu ul li a {
  position: relative;
  overflow: hidden;
  display: block;
  height: 72px;
  color: #171717;
  text-align: center;
  background: #fff;
}

.header .top-menu ul li a:before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 1px;
  background: -o-radial-gradient(
    right,
    ellipse,
    rgba(197, 202, 213, 0.7) 0,
    rgba(255, 255, 255, 0) 70%
  );
  background: radial-gradient(
    ellipse at right,
    rgba(197, 202, 213, 0.7) 0,
    rgba(255, 255, 255, 0) 70%
  );
}

.header .top-menu ul li.active a .link {
  color: #78cc6d;
}

.header .top-menu ul li.active a .icon,
.header .top-menu ul li.active a .link,
.header .top-menu ul li:hover a .icon,
.header .top-menu ul li:hover a .link {
  color: #78cc6d;
}

.header .top-menu ul li a .link {
  position: relative;
  left: 0;
  top: 0;
  width: 100%;
  line-height: 13px;
}

.header .top-menu ul li a .link {
  position: absolute;
  left: 0;
  top: 57%;
  width: 100%;
  display: block;
  font-size: 11px;
  font-weight: 500;
  text-transform: uppercase;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.header .top-menu ul li a .icon {
  margin: 0 auto;
  position: relative;
  top: 0;
  left: 0;
  height: auto;
  line-height: normal;
}

.header .top-menu ul li a .icon {
  margin: -27px 0 0 -20px;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 40px;
  height: 40px;
  font-size: 20px;
  color: #171717;
  line-height: 40px;
  border-radius: 30px;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

@media only screen and (max-width: 991px) {
  .header {
    width: 100%;
    height: 72px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    position: fixed;
  }

  .header .top-menu {
    margin: 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-shadow: 0 0 25px rgba(0, 0, 0, 0.05);
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.05);
  }

  .header .top-menu ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
  }

  .header .top-menu ul li {
    display: block;
    width: 100%;
  }
}
