.works__main {
  background-color: #fff;
  padding: 20px;
}

.btn-icon {
  margin: 0 0 0 8px;
  top: -2px;
  display: inline-block;
  vertical-align: middle;
  font-size: 18px;
}

.works__card-text {
  margin-bottom: 70px;
  height:100px;
}

@media (max-width: 575px) {
  .works__section {
    margin: 0px 13px;
  }
}
