.profile__container {
  min-width: 300px;
}

.profile__card {
  position: relative;
  width: 100%;
  height: 600px;
  z-index: 11;
  border-radius: 4px;
}

.profile__card:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.05);
          box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.05);
  border-radius: 0 0 4px 0;
}

.profile__card:after {
  content: "";
  position: absolute;
  left: -15px;
  top: -15px;
  width: 100%;
  height: 100%;
  background: -o-linear-gradient(
    315deg,
    rgba(120, 204, 109, 0.4) 0,
    rgba(120, 204, 109, 0.01) 100%
  );
  background: linear-gradient(
    135deg,
    rgba(120, 204, 109, 0.4) 0,
    rgba(120, 204, 109, 0.01) 100%
  );
  border-radius: 4px;
}

.profile__profile {
  padding: 210px 50px 50px 50px;
  position: relative;
  height: 100%;
  background: #fff;
  text-align: center;
  z-index: 10;
  border-radius: 4px;
}

.profile__background {
  position: absolute;
  overflow: hidden;
  left: 0;
  top: 0;
  width: 100%;
  height: 300px;
  background-color: #626262;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  background-image: url(/images/background.jpg);
}

.profile__background:before,
.profile__background:after {
  content: "";
  position: absolute;
  left: -25%;
  bottom: -198px;
  width: 700px;
  height: 200px;
  background: #fff;
  -ms-transform: rotate(12deg);
      transform: rotate(12deg);
  -webkit-transform: rotate(12deg);
  -moz-transform: rotate(12deg);
  -o-transform: rotate(12deg);
}

.profile__background:after {
  left: auto;
  right: -25%;
  -ms-transform: rotate(-6deg);
      transform: rotate(-6deg);
  -webkit-transform: rotate(-6deg);
  -moz-transform: rotate(-6deg);
  -o-transform: rotate(-6deg);
}

.profile__image {
  margin: 0 0 20px 0;
  position: relative;
  display: inline-block;
  width: 140px;
}

.profile__image img {
  position: relative;
  display: block;
  width: 100%;
  height: auto;
  border: 3px solid #fff;
  border-radius: 100%;
  -moz-border-radius: 100%;
  -webkit-border-radius: 100%;
  -khtml-border-radius: 100%;
}

.card-started .profile .profile__title {
  margin: 0 0 10px 0;
  font-size: 32px;
  color: #171717;
  line-height: 32px;
  font-weight: 400;
}

.profile__title {
  margin: 0 0 10px 0;
  font-size: 32px;
  color: #171717;
  line-height: 32px;
  font-weight: 400;
}

.profile__subtitle {
  margin: 0 0 15px 0;
  font-size: 14px;
  color: #78cc6d;
  line-height: 14px;
  font-weight: 400;
}

.social a {
  margin: 0 6px;
  display: inline-block;
  vertical-align: middle;
}

.social a .fab {
  font-size: 16px;
  color: #171717;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  -webkit-transition: all 0.3s ease 0s;
}

.social a .fas {
  font-size: 16px;
  color: #171717;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  -webkit-transition: all 0.3s ease 0s;
}

.fab {
  -webkit-font-smoothing: antialiased;
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  line-height: 1;
}
.social a:hover .fa-github {
  text-decoration: none;
  color: #4078c0;
}
.social a:hover .fa-linkedin {
  text-decoration: none;
  color: #00a0dc;
}

.social a:hover .fa-envelope {
  text-decoration: none;
  color: #d44638;
}

.social a:hover .fa-phone-square-alt {
  text-decoration: none;
  color: rgb(70, 167, 41);
}

.lnks {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 70px;
  z-index: 10;
}

.lnks:before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 1px;
  background: -o-radial-gradient(
    left,
    ellipse,
    rgba(197, 202, 213, 0.7) 0,
    rgba(255, 255, 255, 0) 70%
  );
  background: radial-gradient(
    ellipse at left,
    rgba(197, 202, 213, 0.7) 0,
    rgba(255, 255, 255, 0) 70%
  );
}

.lnk {
  position: relative;
  float: left;
  width: 50%;
  height: 70px;
  line-height: 70px;
  font-size: 12px;
  color: #171717;
  font-weight: 500;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  border: none;
}

.lnk:before {
  content: "";
  position: absolute;
  right: 0;
  top: 0;
  width: 1px;
  height: 100%;
  background: -o-radial-gradient(
    top,
    ellipse,
    rgba(197, 202, 213, 0.7) 0,
    rgba(255, 255, 255, 0) 70%
  );
  background: radial-gradient(
    ellipse at top,
    rgba(197, 202, 213, 0.7) 0,
    rgba(255, 255, 255, 0) 70%
  );
}

.lnk:hover,
.button:hover {
  color: #78cc6d;
}

.lnk .text {
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.lnk .fas {
  margin: 0 0 0 8px;
  position: relative;
  top: -2px;
  display: inline-block;
  vertical-align: middle;
  font-size: 18px;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

@media (max-width: 991px) {
  .profile__container {
    margin-top: 72px;
  }
}